*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Remove rolagem horizontal somente neste container */
    
   
}

.luana{ 
    margin-top: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden; /* Remove rolagem horizontal somente neste container */ 
    width: 50%;
    cursor: context-menu;
    margin-bottom: 20rem;
    height: 70vh;
    overflow-y: hidden;
}



.code{
    color: rgb(175, 1, 175); /* Cor ao passar o mouse */
    text-shadow: 0 0 35px rgb(135, 11, 154), 0 0 50px purple, 0 0 15px purple; /* Efeito neon */
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    font-size: 60px;
    overflow-y: hidden;
}

.desen{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: context-menu;
    overflow-y: hidden;
    
}


.icons {
    gap: 50px;
    align-items: center;
    justify-content: center;
    height: 10rem;
    margin: 0; /* Remove margens externas */
    padding: 0;

}

.linke, .git{
    border-radius: 90%;
    width: 50px;
    border: 1px solid white;

}


.hreff{
    padding: 50px;
}


.icons img:hover {
    transform: scale(1.1); /* Aumenta o tamanho do ícone em 10% */
    box-shadow: 
        0 0 10px rgba(128, 0, 128, 0.5), /* Luz suave */
        0 0 30px rgba(128, 0, 128, 1), /* Luz intensa */
        0 0 40px rgba(128, 0, 128, 1); /* Luz intensa com maior difusão */
}

.work{
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    transition: duration 1.5s;
    background-color: #d0d0d0 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace; 
    height: 95px;
    font-size: x-large;
    width: 80%;
    overflow: hidden;

    
}



.work:hover{
    background-color: rgb(244, 170, 215) ;
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.5), /* Luz suave */
    0 0 60px rgba(128, 0, 128, 1), /* Luz intensa */
    0 0 80px rgba(128, 0, 128, 1); /* Luz intensa */

}


.lua{
    border-radius: 5rem;

    height: 450px;
}




.sobre{
    line-height: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.Sobre{
    padding-bottom: 20rem;
    overflow-x: hidden; /* Remove rolagem horizontal somente neste container */
}



.ilusImg{
    justify-content: center;
    align-items: center;
    height: 1000px;
    margin-top: 5rem;
    
}

.ilus{

    border-radius: 6rem;
    max-width: 85%;
    width: 50%;
    height: auto;
    transition: transform 1s ease;
}

.ilus:hover{
    transform: scale(1.1);
}

.x{
    width: 7rem;
    height: 30px;
    border-radius:2rem ;
    margin-bottom: 1rem;
    overflow-y: hidden;
}

.x:hover{
    color: rgba(128, 0, 128, 1) ;
    text-shadow: 0 0 25px rgb(135, 11, 154), 0 0 50px purple, 0 0 15px purple; /* Efeito neon */
}


.Projetos{
    padding-bottom: 100px;
    overflow: hidden; /* Remove rolagem horizontal somente neste container */
    max-width: 100%;
}

.cardImg{
    max-width: 100%;
    
}

.card, .card3{
    transition: transform 1s ease;
    background-color:  rgb(0, 0, 0);
    border:2px solid white;
    color: #fff;
    height: 35rem; 
    overflow-x: hidden;
    
}



.card3:hover{
    transform: scale(1.05);
}


.card:hover{
    transform: scale(1.05);
}

.verImagem{
    color: rgb(255, 255, 255); /* Cor ao passar o mouse */
    text-shadow: 0 0 35px rgb(135, 11, 154), 0 0 50px purple, 0 0 15px purple; /* Efeito neon */
    border: 2px solid white;
}

.verImagem:hover{
    color: rgb(221, 0, 221) ;
}

.cards{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    margin: 0 auto;
    height: auto  ; 
    gap: 5rem;
}

.card-body{
    margin-left:10px ;
}




@media (min-width: 300px) and (max-width: 991px ){
    .luana{
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
        margin-bottom: 3rem;
        align-items: center;
        justify-content: center;
    }   

    .work{
        overflow: hidden;
        margin-bottom: 5rem;
        width: 25.5rem;
    }

    .ilusImg{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 800px;
    }

    .ilus{
        
        width: 80%;
        flex-direction: column;
        height: auto;
    }

    .lua{
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        max-width: 70%;
        margin-top: 3rem;
    }

    
    .d-flex{
        flex-direction: column;
    }

    .code{
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .desen{
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .cards{
        gap: 3rem;
        width: 100%;
        height: auto  ;
        padding: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        

    }

    .card, .card3{
        width: 100%;
        display: flex;
        margin-top: 3rem;
        max-width: 50rem;
        justify-content: center;
        align-items: center;
    }


    .sobre{
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        margin-left: 2rem;
        margin-top: 5rem;
        font-size: larger;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}







@media (min-width: 992px){
    .sobreLua{

        width: 80%;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .desen{
        font-size: 2rem;
    }

    .icons{
        overflow-y: hidden;
    }

    .linke , .git{
        width: 70px;
    }

    .code{
        font-size: 5rem;
    }

    .cards{
        display: grid; /* Usando grid para layout */
        grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */

    }

    .card, .card3{
        width: 100%;
        max-width: 30rem;
        display: flex;
        flex-direction: row;
        margin-top: 3rem;
        max-width: 50rem;
        height: auto;
        margin-bottom: 2rem;
    }


}





